{# Define default values here so the template below can just focus on layout #}
{%- from "apache/map.jinja" import apache with context -%}
{%- set sitename = site.get('ServerName', id) -%}

{%- set vals = {
    'interfaces': site.get('interface', '*').split(),
    'port': site.get('port', '80'),

    'ServerName': sitename,
    'ServerAlias': site.get('ServerAlias', 'www.{0}'.format(sitename)),
    'ServerAdmin': site.get('ServerAdmin', 'webmaster@{0}'.format(sitename)),

    'LogLevel': site.get('LogLevel', False),
    'ErrorLog': site.get('ErrorLog', '{0}/{1}-error.log'.format(map.logdir, sitename)),
    'LogFormat': site.get('LogFormat', '"%h %l %u %t \\\"%r\\\" %>s %O"'),
    'CustomLog': site.get('CustomLog', '{0}/{1}-access.log'.format(map.logdir, sitename)),
    
    'UseCanonicalName': site.get('UseCanonicalName'),

    'ProxyRequests': site.get('ProxyRequests', False),
    'ProxyPreserveHost': site.get('ProxyPreserveHost', False),
    'ProxyRoute': site.get('ProxyRoute', {}),
} -%}

<VirtualHost {%- for intf in vals.interfaces %} {{intf}}:{{ vals.port }}{% endfor -%}>
    ServerName   {{ vals.ServerName }}
    {%- if vals.ServerAlias != False %}
    ServerAlias  {{ vals.ServerAlias }}
    {%- endif %}
    {%- if vals.ServerAdmin != False %}
    ServerAdmin  {{ vals.ServerAdmin }}
    {%- endif %}

    {{- '\n' -}}

    {%- if vals.LogLevel != False %}
    LogLevel   {{ vals.LogLevel }}
    {%- endif %}
    {%- if vals.ErrorLog != False %}
    ErrorLog   {{ vals.ErrorLog }}
    {%- endif %}
    {%- if vals.CustomLog != False %}
    CustomLog  {{ vals.CustomLog }}  {{ vals.LogFormat }}
    {%- endif %}

    {{- '\n' -}}

    {%- if site.get('SSLCertificateFile') %}
    SSLEngine  On
    SSLCertificateFile     {{ site.SSLCertificateFile }}
    {%- if site.get('SSLCertificateKeyFile') %}
    SSLCertificateKeyFile  {{ site.SSLCertificateKeyFile }}
    {%- endif %}
    {%- if site.get('SSLCertificateChainFile') %}
    SSLCertificateChainFile  {{ site.SSLCertificateChainFile}}
    {%- endif %}
    {%- endif %}

    {%- if vals.UseCanonicalName %}

    UseCanonicalName  On
    {%- endif %}

    {{- '\n' -}}

    {%- if vals.ProxyRequests %}
    ProxyRequests  On
    {%- endif %}
    {%- if vals.ProxyPreserveHost %}
    ProxyPreserveHost  On
    {%- endif %}

    {%- for proxy, proxyargs in vals.ProxyRoute|dictsort %}
    {%- set proxyvals = {
        'ProxyPassSource': proxyargs.get('ProxyPassSource', '/'),
        'ProxyPassTarget': proxyargs.get('ProxyPassTarget', 'https://{0}'.format(sitename)),
        'ProxyPassTargetOptions': proxyargs.get('ProxyPassTargetOptions', ''),
        'ProxyPassReverseSource': proxyargs.get('ProxyPassReverseSource', '/'),
        'ProxyPassReverseTarget': proxyargs.get('ProxyPassReverseTarget',
                                                 proxyargs.get('ProxyPassTarget', 'https://{0}'.format(sitename))),
    } %}

    ######### {{proxy}} #########
    ProxyPass         {{ proxyvals.ProxyPassSource }}  {{ proxyvals.ProxyPassTarget }}
        {%- if proxyvals.ProxyPassTargetOptions %}  {{ proxyvals.ProxyPassTargetOptions }}{%- endif %}
    ProxyPassReverse  {{ proxyvals.ProxyPassReverseSource }}  {{ proxyvals.ProxyPassReverseTarget }}
    {%- endfor %}

    {%- if site.get('Formula_Append') %}

    {{ site.Formula_Append|indent(4) }}
    {%- endif %}
</VirtualHost>
